<div class="container" id="events">
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>restaurants</h3>
        </div>
        <div class="panel-body">
          
        </div>
      </div>
    </div>
    <div class="col-sm-5">
        <div class="list-group">
            <a href="#" class="list-group-item" *ngFor="let restaurants of restaurantsList">
              <h4 class="list-group-item-heading">
              <i class="glyphicon glyphicon-bullhorn"></i> {{ restaurants.name }}</h4>
              <h5><i class="glyphicon glyphicon-calendar"></i> {{ restaurants.detail }}</h5>
              <p class="list-group-item-text">{{ restaurants.detail }}</p>
            </a>
          </div>
      </div>
  </div>