<div class="jumbotron">
  <h1>restaurants</h1>
</div>

<div class="w3-container">
  <div class="col-sm-15">
    <div class="list-group">
      <a href="#" class="list-group-item" *ngFor="let restaurant of restaurantsList">
        <h4 class="list-group-item-heading">
        <i class="glyphicon glyphicon-bullhorn"></i> {{ restaurant.name }}</h4>
        <h5><i class="glyphicon glyphicon-calendar"></i> {{ restaurant.detail }}</h5>
        <p class="list-group-item-text">{{ restaurant.detail }}</p>
        <button class="btn btn-xs btn-danger" v-on:click="deleteEvent(event.id)">Delete</button>
      </a>
    </div>
  </div>
</div>